body{
    margin-top: 50px;
    margin-left: 400px;
    background-image: url(https://images.latintimes.com/sites/latintimes.com/files/styles/large/public/2015/02/21/oscars-2015.jpg);
    
    
    color:yellow;
    font-weight: bolder;
}
